/* styles.css */
.white-label .ant-form-item-label > label {
    color: #1d1d1d;
   
    font-size: 0.75rem; /* 12px */
        line-height: 1rem; /* 16px */
}

@media (min-width: 768px) {
    .white-label .ant-form-item-label > label {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem; /* 28px */
    }
}


  
 

  /* RadioStyles.css */
.white-radio .ant-radio-inner::after {
    background-color: #1d1d1d !important;
  }
  .white-radio .ant-radio-checked .ant-radio-inner {
    border-color: #1d1d1d !important;
  }
  .white-radio label {
    color: #1d1d1d !important;
  }
  
  