.active-button {
    background-color: #4b65f978 !important;
    color: white !important;
}


@media (max-width:500px) {
    .headerMenu {
      display: none;
    }
  }
  
  @media (min-width:500px) {
      .menuIcon {
        display: none;
      }
    }